* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    /* Sets background colour to this off green  */
    background-color: #d9dcd6;
}

.header {
    /* set padding on header to 20px, sets font family and selects font colour and background all for header */
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    /* sets header display to inline block and font size at 48px */
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    /* adds flair to middle of Horiseo logo in header */
    color: #d9dcd6;
}

.header div {
    /* sets padding in header to 15px and right margin to 20px
    sets font family and size at 20px */
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

.hero {
    /* css selectors for image of business people standing around a table
    height 800px width 100% of page */
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.content {
    /* sets content of page to take up 75% width
    inlline block display
    left margin at 20px */
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.search-engine-optimization img {
    max-height: 200px;
}

.search-engine-optimization {
    /* sets photo for main content
    bottom margin 20px
    pads 50px
    height 300px
    sets font family background colour and font colour to nice white on blue */
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management {
    /* sets photo for main content
    bottom margin 20px
    pads 50px
    height 300px
    sets font family background colour and font colour to nice white on blue */
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management img {
    max-height: 200px;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing {
    /* sets photo for main content
    bottom margin 20px
    pads 50px
    height 300px
    sets font family background colour and font colour to nice white on blue */
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing img {
    max-height: 200px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.benefits {
    /* sets right margin at 20px
    pads it at 20px
    sets width and heigh at 20 and 100%
    sets font family and font background colour */
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-lead {
        /* sets bottom margin at 32px and sets colour to white */
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand {
        /* sets bottom margin at 32px and sets colour to white */
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    /* sets bottom margin at 32px and sets colour to white */
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lead h3 {
        /* sets bottom margin at 10px and centers text */
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h3 {
        /* sets bottom margin at 10px and centers text */
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    /* sets bottom margin at 10px and centers text */
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lead img {
    /* starts new line for image, sets margin at 10px auto and max width at 150px */
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {
    /* starts new line for image, sets margin at 10px auto and max width at 150px */
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    /* starts new line for image, sets margin at 10px auto and max width at 150px */
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.footer {
    /* sets footer padding at 30px, sets font family and centers text */
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    /* sets footer font size to 20px */
    font-size: 20px;
}
